.logo {
  height: 40px;
}

header ul li {
  /* margin: 10px; */
}

header ul li a {
  padding: 10px 14px;
}

.menu-mobile {
  overflow: hidden;
  animation-name: show;
  animation-duration: 0.3s;
}

@keyframes show {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
